.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 40px;

  background: #111827;
}

.logo {
  color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.logout-btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;

  background: crimson;
  color: white;

  cursor: pointer;
}

@media(max-width:600px) {

  .navbar {
    padding: 15px;
    flex-direction: column;
    gap: 15px;
  }

}